.carousel {
    // background-color: darkblue;
    color: white;
    height: 240px;
    margin: 0;
    padding: 0;
    border: 0;
    // position: relative;
    // z-index: 90;
}

.banner-image-area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.top-nav {
    overflow: hidden;
}

.banner-view {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
    width: 80%;
    height: 100%;
}

@media (max-width: 800px) {
    .carousel {
        height: 200px;
    }
    .banner-image {
        width: 700px;
        height: 110%;
    }
}

@media (max-width: 650px) {
    .carousel {
        width: 90vw;
    }
    .slick-track {
        height: 1000px;
    }
    .banner-image {
        // width: 400px;
        height: 300px;
    }
}
