.carousel {
    background-color: darkblue;
    color: white;
    height: 240px;
    margin: 0;
    padding: 0;
    border: 0;
}

.banner-image-area {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.top-nav {
    overflow: hidden;
}

// .nav-bar-container {
//     position: absolute;
//     margin: 20px;
//     width: auto;
// }

.banner-view {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.banner-text {
    position: absolute;
    top: 20%;
    right: 100px;
    color: white;
    width: 300px;
    font-size: large;
}

.sup {
    vertical-align: baseline;
    position: relative;
    top: -0.5em;
    font-size: small;
}
