// * base css
.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.flex-item-left {
    flex: 50%;
    z-index: 100;
}

.flex-item-right {
    flex: 50%;
    z-index: 100;
}

.image-style {
    width: 350px;
    margin-right: 10px;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 750px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
    .image-style {
        width: 250px;
        margin-right: 5px;
    }
}

// .display {
//     background-color: white;
// }
