.display {
    margin-top: -50px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 5;
}

.flex-item-left {
    flex: 50%;
    z-index: 100;
}

.flex-item-right {
    flex: 50%;
    z-index: 100;
}

.image-style {
    width: 350px;
    margin-right: 10px;
}

.image-container {
    position: relative;
}
.display-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: $blue;
    border-left: 5px solid $dark-blue;
    border-right: 100px solid $blue;
    font-size: small;
    float: left;
    color: $dark-blue;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 850px) {
    .display {
        margin-top: -120px;
    }
    .flex-container {
        flex-wrap: nowrap;
    }
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
    .image-style {
        margin-top: 50px;
        width: 350px;
        margin-right: 3px;
    }
    .display-text {
        font-size: small;
    }
}

@media (max-width: 820px) {
    .display {
        margin-top: -80px;
    }
}

@media (max-width: 650px) {
    .flex-container {
        flex-wrap: wrap;
    }
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
    .image-style {
        margin-top: 80px;
        width: 300px;
        margin-right: 5px;
    }
    .display-text {
        font-size: small;
    }
}

@media (max-width: 600px) {
    .display {
        margin-top: 10px;
    }
    .image-style {
        width: 400px;
    }
    .image-container {
        margin-top: 0;
    }
}

@media (max-width: 450px) {
    .flex-item-right,
    .flex-item-left {
        flex: 100%;
    }
    .image-style {
        width: 350px;
        margin-right: 5px;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .display-text {
        font-size: small;
    }
    .display-text {
        bottom: 20px;
        left: 16px;
    }
}

// .display {
//     background-color: white;
// }
