.footer {
    background-color: #3ec6e0;
    color: white;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 30px;
}

.left-footer {
    width: 25%;
    float: left;
    background-color: darkblue;
    height: 30px;
    text-align: right;
    margin-right: 10px;
}
.right-footer {
    float: left;
    margin-left: 10%;
}
