.nav-bar {
    position: absolute;
    margin-top: 5px;
    z-index: 100;
    width: 100vw;
}

.nav-bar-contents {
    margin-left: 10%;
}

.nav-button {
    background-color: transparent;
    color: $silver;
    margin-top: 15px;
    float: left;
    width: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.pop-up-box {
    position: relative;
    margin-left: 80px;
    z-index: 100;
    height: 200px;
    width: 450px;
}

.mini-nav {
    top: 0;
    float: right;
    width: 250px;
}

.nav-svg {
    width: 20px;
    margin-right: 10px;
}

td {
    font-size: small;
}

.drop-menu {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px $blue;
    text-align: left;
    background-color: $dark-blue;
    color: white;
    line-height: 2em;
}

.table-header {
    font-weight: bold;
    font-size: large;
}

@media (max-width: 850px) {
    .nav-bar {
        margin-top: 2px;
    }
    .mini-nav-text {
        font-size: 0;
        margin-left: 0px;
        top: 0;
    }
    .nav-bar-contents {
        margin-left: 0px;
    }
    .nav-button {
        margin-top: 15px;
        margin-left: 20px;
    }
    .pop-up-box {
        margin-left: 40px;
    }
    .mini-nav {
        top: 0;
        width: 150px;
    }
    .nav-svg {
        width: 20px;
        margin-right: 10px;
    }
}

@media (max-width: 650px) {
    .nav-bar {
        margin-top: 0;
    }
    .nav-button {
        margin-top: 15px;
        float: right;
    }
    .pop-up-box {
        margin-left: -140px;
        z-index: 100;
        height: 400px;
        top: 0;
    }
    .mini-nav {
        float: right;
    }
    .drop-menu {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        margin-left: 130px;
    }
    li span {
        padding: 1px 2px;
    }
}

@media (max-width: 450px) {
    .mini-nav {
        float: right;
    }
}

@media (max-width: 380px) {
    .mini-nav {
        float: left;
    }
}

// Responsive table
td,
th {
    padding: 5px 8px 10px;
    vertical-align: top;
    line-height: 1.2;
}

.table-container {
    display: grid;
    grid-template-areas: "item1 item2 item3";
}
#table-item-1 {
    grid-area: item1;
}
#table-item-2 {
    grid-area: item2;
}
#table-item-3 {
    grid-area: item3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

.list-item {
    float: left;
    clear: left;
}

@media (max-width: 650px) {
    .table-container {
        grid-template-areas:
            "item1"
            "item2"
            "item3";
    }
    .table-area {
        margin-bottom: 10px;
    }
}
