.nav-bar {
    position: absolute;
    margin-top: 5px;
    z-index: 100;
    width: 100vw;
}

.nav-bar-contents {
    margin-left: 10%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.nav-button {
    background-color: transparent;
    color: $silver;
    // height: 15px;
    // width: 15px;
    margin-top: 15px;
}

.pop-up-box {
    margin-left: 50px;
}

.mini-nav {
    margin-left: 450px;
    top: 0;
}

.nav-svg {
    width: 20px;
    margin-right: 10px;
}

.drop-menu {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px $blue;
    text-align: left;
    background-color: $dark-blue;
    color: white;
    margin: 70px 15 px 70px 15px;
    line-height: 2em;
}

@media (max-width: 800px) {
    .mini-nav-text {
        font-size: 0;
        margin-left: 0px;
        top: 0;
    }
    .nav-bar-contents {
        margin-left: 0px;
    }
}
