.products {
    // background-color: pink;
    margin-left: 5%;
    margin-right: 5%;
}

.product-header {
    display: flex;
}

.product-list {
    background-color: white;
    display: inline-flex;
    // ! This will be changed in the layout
    flex-wrap: wrap;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 20px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
    display: table-cell;
    vertical-align: middle;
    height: 180px;
    width: 180px;
    background-color: $silver;
}

.card-image {
    width: 120px;
    height: 150px;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}

.buyingButton {
    background-color: $blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    transition-duration: 0.4s;
    text-transform: uppercase;
}
.buyingButton:hover {
    background-color: darkblue; /* Green */
    color: white;
}

@media (max-width: 650px) {
    .products {
        width: 90vw;
    }
}
